<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MessagingService.Service1" behaviorConfiguration="mexBehavior">
        <endpoint address="MessagingService" binding="netTcpBinding" contract="MessagingService.IService1">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
             <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/MessagingService/Service1/"/>
             <add baseAddress="http://localhost:135"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>