<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MessageService.Service1" behaviorConfiguration="mexBehavior">
        <endpoint address="MessageService" binding="basicHttpBinding" contract="MessageService.IService1">
        </endpoint>
        <endpoint address="MessageService" binding="netTcpBinding" contract="MessageService.IService1">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MessageService/Service1/"/>
            <add baseAddress="net.tcp://localhost:135/Design_Time_Addresses/MessageService/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>